# Dependencies
node_modules/

# Build output
dist/
build/
*.dmg
*.dmg.blockmap

# macOS
.DS_Store

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.vscode/
.idea/

# Electron
out/
builder-debug.yml
